
@import '../../../commonStyles/mixins.scss';

.cart-header-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 20px auto;
    border: 1px solid rgb(213, 211, 211);
    padding: 10px;
    .cart-zmt-img-container{
        width: 35%;
        @include for-tablet-only{
            width: 20%;
        }
        @include for-desktop{
            width: 20%;
        }
        .image-container{
          width: 100%;
        }
       
    }
}
.register-form-container{
    .form-wrapper{
        width: 80%;
        margin: 0 auto;
        @include for-desktop{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 20px;
        }
        .input-section{
            margin: 20px 0 20px 0;
            @include for-desktop{
                width: 40%;
                margin: 15px 0 15px 0;
            }
        }
        .input-section-with-label{
            margin: 20px 0 20px 0;
            .input-label{
                margin-bottom: 15px;
            }
            @include for-desktop{
                width: 100%;
                margin: 15px 0 15px 0;
            }
        }
        .menu-heading{
            @include for-desktop{
                width: 100%;
            }
        }
        .remove-btn{
            @include for-desktop{
                width: 100%;
            }
        }
    }
}
.button-container{
    .button-wrapper{
       @include for-desktop{
        width: 70%;
        margin: 0 auto;
       }
        .button-separator{
            display: flex;
            justify-content: center;
            width: 50%;
            margin:20px auto;

        }
    }
   
}